@using ToolsApp.Core.Interfaces.Models
@using ToolsApp.Models;

<form>
  <label>
    Name:
    <input type="text" @bind="@colorForm.Name" />
  </label>
  <label>
    Hex Code:
    <input type="text" @bind="@colorForm.HexCode" />
  </label>
  <button type="button" @onclick="@submitColor">@ButtonText</button>
</form>

@code {

  [Parameter]
  public string ButtonText { get; set; } = "Add Color";

  [Parameter]
  public EventCallback<INewColor> OnSubmitColor { get; set; }

  private ColorFormModel colorForm = new();

  private async Task submitColor()
  {
    await OnSubmitColor.InvokeAsync(new NewColor
      {
        Name = colorForm.Name,
        HexCode = colorForm.HexCode,
      });
  }

  class ColorFormModel
  {
    public string Name { get; set; }
    public string HexCode { get; set; }
  }

}
